/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

/* Navbar barra de navegación */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 10px 20px;
}

.navbar .logo img {
  height: 40px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  color: #fff;
  cursor: pointer;
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background: linear-gradient(to right, #222, #444);
  color: #fff;
}

.hero-text {
  max-width: 50%;
}

.hero-text h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero-text p {
  margin-bottom: 20px;
}

.btn {
  background-color: #ff3c00;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}

input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

/* Hero Image */
.hero-image img {
  max-width: 400px;
  border-radius: 10px;
}

/* Footer pie de pagina */
footer {
  text-align: center;
  padding: 20px;
  background-color: #000;
  color: #fff;
}
